@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* import steveBackground from "../public/steve-background.png" */

:root {
  font-family: "Courier Prime", monospace;
  background-color: rgb(177, 212, 243);
}

.btn-primary {
  background-color: black;
  border-radius: 5px;
  color: white;
  padding: 5px 15px;
}

.btn-secondary {
  padding: 1px 6px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius:15px 255px;
  border:solid 3px #41403E;
}

.product-box {
  border: 1px solid;
  height: 300px;
}

.h1 {
  font-size: 4rem;
  font-weight: 800;
}

.h2 {
  font-size: 3rem;
  font-weight: 700;
}

.desc {
  font-size: 1.3rem;
}

.price {
  font-weight: 1000;
  font-size: 1.8rem;
}

.img-container {
  /* height: 80vh; */
  padding: 10px;
  /* min-width: 60vw; */
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.4);
}

.display-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 60px 40px;
  gap: 30px;
}

.display-container-image {
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
  padding: 60px 40px;
  gap: 30px;
}

.featured-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.background-image-dog {
  background-image: url('../public/goggi45-nobg.png');
  /* background-image: url('../public/dogs/goggi45.jpg'); */
  background-size: 55vw;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.background-image-hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation: imageSwitch 1s ease-in-out infinite alternate-reverse backwards;
  height: 100%;
  width: 100%;
}

@keyframes imageSwitch {
  /* 0% {
    background-image: url('../public/DMlogo23.jpg');
  } */
  0% {
    background-image: url('../public/DMlogo22.jpg');
  }
  10% {
    background-image: url('../public/DMlogo23.jpg');
  }
  15% {
    background-image: url('../public/DMlogo22.jpg');
  }
  20% {
    background-image: url('../public/DMlogo23.jpg');
  }
  100% {
    background-image: url('../public/DMlogo23.jpg');
  }
}

.hero {
  @apply flex flex-col justify-center items-center;
  height: 63vh;
}

.hero-small {
  @apply flex flex-col justify-center items-center;
  height: 80vh;
  text-align: center;
  overflow: hidden;
}

.cross-pos {
  position: absolute;
  top: 0;
  right: 0;
}

.crazy-hero {
  /* width: 25vw; */
  /* height: 100%;
  position: absolute;
  bottom: 0; */
  background-image: url('../public/steve-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.crazy-1 {
  left: -3vw;
}

.crazy-2 {
  left: 22vw;
}

.crazy-3 {
  left: 47vw;
}

.crazy-4 {
  left: 72vw;
}

.background {
  background-color: rgba(0,0,0,0.4);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input {
  width: 100%;
  margin-bottom: 10px;

  background: white;
  padding: 0.5rem 0.5rem;
  font-size: 1rem;

  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius:15px 255px;

  border:solid 3px #41403E;
}

.header-list {
  padding: 5px 10px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 15px 255px;

  border:solid 3px #41403E;
}

.table-item {
  @apply pb-5;
  padding: 1rem 1.25rem 1.25rem;
}

@media screen and (max-width: 600px) {
  .table-item {
    padding: 1rem 0.5rem;
    width: auto;
    padding-bottom: 1.25rem;
  }
}

.table-style {

  border-top-left-radius: 270px 5px;
  border-top-right-radius: 5px 270px;
  border-bottom-right-radius: 270px 5px;
  border-bottom-left-radius: 5px 270px;
  width: 100%;

  border: solid 3px #41403E;
}

/* .noise {
  margin: auto;
  background-image: repeating-radial-gradient(circle at 17% 32%, white, black 0.00085px);
  animation: back 5s linear infinite;
}

@keyframes back {
  from {
  background-size: 100% 100%;
  }
  to {
    background-size: 200% 200%;
  }
} */

.blink1 {
  animation: blinker 3s step-start infinite;
}

.blink2 {
  animation: blinker 3s step-start infinite;
}

@keyframes blinker {
  5% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  15% {
    opacity: 0;
  }
}

@media screen and (max-width: 1068px) {
  .hero-small {
    height: 70vh;
  }
}

@media screen and (max-width: 568px) {
  .hero-small {
    height: 50vh;
    /* overflow: hidden; */
  }

  .hero {
    height: 50vh;
  }

  .background-image-hero {
    transform: scale(2);
    background-size: contain;
  }

  .h2 {
    font-size: 2.5rem;
  }
}